html {
  height: 100%;

}
body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.progress-background {
  background-color: lightgray;
  position: relative;
}
.progress-text {
  position: absolute;
  text-align: center;
  width: 100%;
}
.progress-bar {
  height: inherit;
  max-width: 100%
}
.button {
  position: relative;
  user-select: none;
}
.button-shade {
  background-color: lightgray;
  box-shadow: 10px 10px gray;
  transition: 0.15s;
  vertical-align: middle;
  text-align: center;

  line-height: 50px;
}
.button-shade:active {
  transform: translate(10px, 10px);
  box-shadow: 0 0 gray;
}
.button-shade.held {
  transform: translate(10px, 10px);
  box-shadow: 0 0 gray;
}
.main-window {
  width: 100%;
  height: 100%;
  display: none;
  flex: 1;
}
.portal {
  width: 50px;
  height: 50px;
  position: fixed;
}
.squads {
  height: 100%;
  max-height: 100%;
  flex: 30;
  background-color: #ffdddd;
  overflow: auto;
}
.squad {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
}
.squad-header {
  flex: 1;
}
.inventory{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.squad-inventory-slot {
  width: 16.66666%;
  padding-bottom: 16.66666%;
  position: relative;
}
.inventory-slot {
  width: 12.5%;
  padding-bottom: 12.5%;
  position: relative;
}
.iron {
  width: 100%;
  height: 100%;
  background-color: darkmagenta;
  position: absolute;
}

#top-bar {
  display: flex;
  height: 100px;
  width: 100%;
}
#dimension-icon {
  width: 100px;
}
#info-container {
  width: 100%;
}
#global-info {
  display: flex;
  justify-content: space-between;
}
#tech-progress-background {
  width: 90%;
  height: 50px;
}
#tech-progress-text {
  line-height: 50px;
}
#tech-progress-bar {
  width: 50%;
  background-color: lightblue;
}
#local-info {
  display: flex;
  justify-content: space-between;
}
#resources {
  display: flex;
}
#fight-progress-background {
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
#fight-progress-text {
  line-height: 50px;
}
#fight-progress-bar-ally {
  width: 30%;
  background-color: lightgreen;
}
#fight-progress-bar-enemy {
  width: 20%;
  background-color: lightcoral;
}
#bottom {
  height: calc(100% - 100px);
  display: flex;
}
#left-bar {
  width: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
#main-window-0 {
}
#map {
  flex: 70;
}
#portal-1 {
  margin: calc(10% - 25px) calc(20% - 25px);
  background-color: magenta;
}
#portal-2 {
  margin: calc(20% - 25px) calc(10% - 25px);
  background-color: cyan;
}
#main-window-1 {
  background-color: lightgoldenrodyellow;
}
#main-window-2 {
  background-color: lightgreen;
}
#squad {
}
#new-squad {
  width: 100%;
  height: 200px;
}
#selected-unit{
  height: 100%;
  flex: 30;
  background-color: #ddffdd;
}
#inventory {
  height: 100%;
  flex: 40;
  background-color: #ddffff;
  display: flex;
  overflow: auto;
}
